/* Large size - either centered or fills screen */

body {
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    background-color: rgb(244, 244, 244);
    display: flex;
    justify-content: center;
}

/* HEADER AND CONTENT */
nav{
    position: fixed;
    top: 0;
    height: 57px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.nav-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

#yt-menu-logo-container{
    padding-left: 20px;
}

#profile-container{
    padding-right: 30px;
}

#hamburger-container {
    height: 25px;
    width: 25px;
    margin-left: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hamburger-layer {
     height: 2px;
     width: 18px;
     background-color: #666666;
     margin: 1.5px;
     border-radius: 20%;
}

#yt-header-logo {
    height:18px;
    margin-left: 20px;
}

.icons {
    height: 24px;
    margin: 0 20px 0 20px;
}

#search-text {
    border: 1px solid rgb(196, 196, 196);
    height: 25px;
    width: 40vw;
    max-width: 570px;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    font-size: 16px;
}

::-webkit-input-placeholder{
    color: rgb(157, 157, 157);
}

#search-submit {
    background-color: rgb(249, 247, 251);
    border: 1px solid rgb(196, 196, 196);
    height: 27px;
    border-left: none;
    display: flex;
    align-items: center;
}

#search-submit:hover {
    background-color: rgb(239, 239, 239);
    transition: ease-in 0.1s;
}

#search-icon {
    height: 20px;
}

#grid-container {
    height: 21px;
    width: 21px;
    margin-left: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}

.grid-square {
    width: 4px;
    height: 4px;
    background-color: #666666;
    margin: 0;
    border-radius: 10%;
}

.profile-pic{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* MAIN CONTENT */
#content-container {
    width: 98vw;
    max-width: 1750px;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 60px;

}

#video-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 2%;
}

#thumbnails-container {
    min-height: 100vw;
    width: 30%;
    margin: 0;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-right: 1%;
}

#video-player-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin: 1vw 1vw 0 1vw;
}

#video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#video-description{
    width: 100%;
    margin: 2vw 1vw 0 1vw;
}

.bottom-divider{
    border-bottom: 1px rgb(221, 221, 221) solid;
    width: 100%;
}

#video-title{
    font-size: 18px;
    color: #212121;
}

#video-nav{
    margin: 0.1vw 0 1vw 0;
    margin-top: 0.1vw;
    padding-bottom: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

#views-date{
    font-size: 16px;
    color: #666666;
}

#video-stats {
    width: 370px;
    display: flex;
    align-self: flex-end;
}

.hover:hover {
    cursor: pointer;
}

#contributor-container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin: 30px 0 15px 0;
}

#contributor-pic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

#contributor-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

#contributor-stats {
    font-size: 14px;
    height: fit-content;
    line-height: 60%;
}

#contributor-name{
    font-weight: bold;
}

#contributor-subscribers {
    color: #666666;
    font-size: 14px;
}

#subscribe-button {
    background-color: #ce0404;
    color: white;
    font-size: 15px;
    padding: 10px 18px 10px 18px;
}

.pseudo-link{
    color: #065FD4;
}

#video-caption{
    line-height: 22px;
    margin-top: 25px;
    width: 100%;
}

#show-more{
    font-size: 13px;
    color: #666666;
    line-height: 40px;
    margin-bottom: 5px;
}

#comment-label{
    display: flex;
    flex-direction: row;
    margin: 1vw 0 0 1vw;
    align-items: center;
}

#comment-number{
    font-size: 16px;
}

#sort-by{
    width: fit-content;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#sort-by-icon {
    height: 15px;
    width: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-right: 10px;
}

.sort-by-component {
    height: 3px;
    background-color: #666666;
    margin: 2px;
    padding: 1px 0 1px 0;
    border-radius: 20%;
}

#sort-by-component-1 {
    width: 20px;
}
#sort-by-component-2 {
    width: 16px;
}

#sort-by-component-3 {
    width: 8px;
}

#sort-by-text {
    font-size: 14px;
    color: #666666;
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
}

#comments{
    margin: 1vw;
}

#comment-default{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#add-comment-user {
    margin-left: 20px;
    font-size: 14px;
    color: #666666;
    margin-left: 20px;
    font-size: 15px;
    width: 100%;
    margin-top: 3px;
}

#add-comment-user:hover{
    cursor: text;
}

#comment-divider{
    width: calc(100% + 20px);
    margin-top: 8px;
}

.comment-pic{
    width: 43px;
    height: 43px;
    border-radius: 50%;
}

.comment{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.comment-stats{
    display: flex;
    flex-direction: row;
}

.comment-text{
    margin-left: 20px;
    font-size: 15px;
    line-height: 30px;
}

.comment-name{
    font-weight: bold;
}

.comment-time{
    color: #666666;
    padding-left: 10px;
}

.comment-likes{
    display: flex;
    align-items: center;
}

.vote{
    width: 20px;
    height: 20px;
    padding-right: 15px;
}

.upvotes, .reply{
    color: #666666;
    font-size: 13px;
    padding-right: 15px;
}

#ad{
    width: 99%;
    margin-left: 10px;
    margin-top: 0.3vw;
}

#ad-img{
    width: 99%;
    margin-top: 10px;
}

#ad-logo{
    width: 50px;
    height: 50px;
}

#ad-content{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

#ad-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    justify-content: space-between;
}

#ad-details{
    margin-left: 10px;
}

#ad-web-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    font-size: 12px;
    color: #666666;
}

#ad-highlight{
    font-size: 14px;
    color: white;
    font-weight: bold;
    background-color: rgb(252, 199, 65);
    padding: 1px 3px 1px 3px;
    width: fit-content;
    margin-right: 5px;
}

#shop-now{
    background-color: #065ad0;
    color: white;
    font-size: 15px;
    padding: 10px 18px 10px 18px;
    display: flex;
    margin: auto;
    align-self: flex-end;
}

.top-divider{
    border-top: 1px rgb(221, 221, 221) solid;
    width: 100%;
    padding-top: 20px;
}

#thumbnails {
    width: 90%;
    height: 10px;
    margin-left: 10px;
    margin-top: 10px;
}


.thumbnail{
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-bottom: 8px;
}

.thumb-pic {
    width: 175px;
}

.thumb-text {
    margin-left: 8px;
    width: 50%;
    font-size: 14px;
    line-height: 18px;
}

.thumb-title {
    font-weight: bold;
    margin-bottom: 3px;
}

.thumb-detail {
    color: #666666;
}

/*
YouTube Red: #FF0000
White: #FFFFFF
Almost Black: #212121
*/


/* video takes up whole screen, then video info, then other videos, then comments other videos/comments doesn't rly stretch - aligned left . same for mob so just ne media query*/
@media (max-width: 1015px){

/* MAIN CONTENT */
#content-container {
    flex-direction: column;
}

#search-text {
    width: 25vw;
}

#video-column {
    width: 95%;
}

#thumbnails-container {
    width: 80%;
}

#comments-container{
    width: 95%;
}

.thumbnail{
    width: 100%;
}

.thumb-text {
    margin-left: 8px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
}

}